<div class="pokemon-card" *ngIf="pokemonAttr">
    <div class="pokemon-card__image">
        <img [src]="getPokemonImage(pokemonAttr)" alt="{{ pokemonAttr.name }}">
    </div>

    <div class="pokemon-card__number">
        Nº {{ getPokemonNumber(pokemonAttr) }}
    </div>
    
    <div class="pokemon-card__name">
        {{ pokemonAttr.name }}
    </div>

    <div class="pokemon-card__types">
        <div class="pokemon-card__type" *ngFor="let type of pokemonAttr.types" [class]="'pokemon-card__type--' + type.toLowerCase()">
            {{ type }}
        </div>
    </div>
</div>